<style>
    .not-active {
        background: darkgray;
        pointer-events: none;
        cursor: default;
    }
</style>
<div style="border: solid black 1px; padding-top: 5px; border-radius: 10px; margin-bottom: 10px;">
    <div class="news" style="margin: 10px;">
        <div class="author">
            <img src="" style="width: 50px; height: 50px;">
            <a href="#" style="font-size: 40px;">lorem, ipsum</a>
            <p style="float: right; color: lightgray; margin-bottom: 0px;">
                Likes : 100
                <br>
                Comments : 20
                <br>
                Views : 10k
                <br>
                11/01/2013 12:00 AM
            </p>

        </div>
        <hr>
        <div class="abstract">
            lorem, ipsum,lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum,
            lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum.
        </div>
        <hr>
        <div class="stat">
            <a href="#" class="btn btn-default not-active" ><span class="glyphicon glyphicon-thumbs-up" style="margin-right: 4px;"></span>Like</a>
            <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down" style="margin-right: 4px;"></span>Dislike</a>
        </div>
    </div>

</div>

<div style="border: solid black 1px; padding-top: 5px; border-radius: 10px; margin-bottom: 10px;">
    <div class="news" style="margin: 10px;">
        <div class="author">
            <img src="" style="width: 50px; height: 50px;">
            <a href="#" style="font-size: 40px;">lorem, ipsum</a>
            <p style="float: right; color: lightgray; margin-bottom: 0px;">
                Likes : 100
                <br>
                Comments : 20
                <br>
                Views : 10k
                <br>
                11/01/2013 12:00 AM
            </p>

        </div>
        <hr>
        <div class="abstract">
            lorem, ipsum,lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum,
            lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum, lorem, ipsum.
        </div>
        <hr>
        <div class="stat">
            <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" style="margin-right: 4px;"></span>Like</a>
        </div>
    </div>

</div>




