<style>
    .not-active {
        background: darkgray;
        pointer-events: none;
        cursor: default;
    }
</style>
<div class="news-selected" style="padding-top: 5px; border-radius: 10px; margin-bottom: 10px;">
    <div class="base" style="margin: 5px;">
        {#        <div class="author">#}
        <a href="#" style="text-align: center; display: block;">lorem, ipsum</a>
        <img src="" style="width: 95%; height: 90%; display: block; margin: auto;">
    </div>
</div>
<hr>
<div class="news-selected" style="padding-top: 5px; border-radius: 10px; margin-bottom: 10px;">
    <div class="base" style="margin: 5px;">
        {#        <div class="author">#}
        <a href="#" style="text-align: center; display: block;">lorem, ipsum</a>
        <img src="" style="width: 95%; height: 90%; display: block; margin: auto;">
    </div>
</div>


